{% include 'login/meta_head.html' %}
{% include 'login/meta_header.html' %}

<br />
<br />
<br />
<h2 align=center>
  <font color=#007979>大数据分析平台</font>
  <small>负荷预测与工况分析</small>
  <a class='btn btn-primary' href="{% url 'login:logout' %}">注销</a>
</h2>

<br />
<div align=center><img src="/static/login/banner.jpg" border="0" /></div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'login/meta_footer.html' %}
