{% include 'bhgj/meta_head.html' %}
{% include 'bhgj/meta_header.html' %}

<table align=center width=960>
<tr><td>

<table class="table table-hover">
<thead><tr>
  <th width=20%>动作时间</th>
  <th width=20%>复归时间</th>
  <th width=50%>消息</th>
  <th width=10%>间隔秒数</th>
</tr></thead>
{{ data|safe }}
</table>

</td></tr>
<tr align=center><td><font color=#007979>
  (此页仅显示500条记录,请<a href="/upload/bhgj/{{ task.id }}.reset.csv">下载结果</a>)
</font></td></tr>
</table>
<br />

{% include 'bhgj/meta_footer.html' %}
